{{#ifEquals authUser.type 3}}

{{#section 'css'}}
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/add-post.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
	
	<script src="https://cdn.tiny.cloud/1/lzclwpq5mtqpehgoc4q7xetz3u5aih8qwtaehs1minf4c06q/tinymce/5/tinymce.min.js"></script>
	<style>
		.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: black !important;
}
.bootstrap-tagsinput .label {
    background-color: #cadcef !important;
	border-radius: 30%;
}
	</style>
{{/section}}
{{#section 'js'}}

	<script>
		tinymce.init({
   			selector: '#chi_tiet_bd',
   			plugins: 'a11ychecker advcode casechange formatpainter linkchecker lists checklist media mediaembed pageembed permanentpen powerpaste tinycomments tinydrive tinymcespellchecker',
   			toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter insertfile pageembed permanentpen',
   			toolbar_drawer: 'floating',
   			tinycomments_mode: 'embedded',
   			tinycomments_author: 'Author name'
		});
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>

<script>
  $(function () {
    $('#fuMain').fileinput({
      theme: 'fa',
      dropZoneEnabled: false,
      allowedFileExtensions: ['png', 'jpg', 'gif'],
      uploadUrl: '/uploadImage',
      uploadAsync: true,
	  showRemove:false
    }).on('fileuploaded', function(event, data) {
		console.log(data.response.fileName);
        $('#postForm').submit(function(){ //listen for submit event
    		
        	$('<input >').attr('type', 'hidden')
            	.attr('name', 'nameFile')
            	.attr('value', data.response.fileName)
            .appendTo('#postForm');

			

    	});
    	return true;
    });
  })
  
</script>


{{/section}}
<div>
		<header id="header">
 			<div id="container">
	
				<nav class="navbar navbar-expand-lg">
		  
		  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		    			<span class="navbar-toggler-icon"></span>
		  			</button>
					<div id="papername">dogenews</div>
		  			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		  				&nbsp &nbsp &nbsp &nbsp
		    			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		      				<li class="nav-item active"><a class="nav-link" href="#"><h2>Add Post</h2> <span class="sr-only">(current)</span></a></li>

		    			</ul>
					    <form class="form-inline">
					      	<input class="form-control mr-sm-2" type="search" placeholder="Search">
					      	<button id="btnSearch" type="submit">Search &nbsp</button>

		            	</form>
		            	<div>
		            		<a href="#" data-toggle="dropdown"><i class="fa fa-user-circle" style="font-size:36px"></i></a>
		            		<ul class="dropdown-menu dropdown-menu-right" role="menu">
		            			<div class="col-lg-12"> 
		                			 {{#ifEquals authUser.type 1}}
							<a class="dropdown-item" href="/admin/manage-user">Quản lý thông tin</a>
							{{/ifEquals}}
							{{#ifEquals authUser.type 2}}
							<a class="dropdown-item" href="/auth/edit-information/{{authUser.ID}}">Cập nhật thông tin</a>
							{{/ifEquals}}
							{{#ifEquals authUser.type 3}}
							<a class="dropdown-item" href="/auth/edit-information/{{authUser.ID}}">Cập nhật thông tin</a>
							<a class="dropdown-item" href="/admin/add-post">Đăng bài mới</a>
							{{/ifEquals}}
							{{#ifEquals authUser.type 4}}
							<a class="dropdown-item" href="/auth/edit-information/{{authUser.ID}}">Cập nhật thông tin</a>
							<a class="dropdown-item" href="/editor/editor">Duyệt bài viết</a>
							{{/ifEquals}}
							<a class="dropdown-item" href="javascript: $('#frmLogOut').submit();">Log out</a>
		            			</div>
		            		</ul>		
	            		</div>
	            		
	            	</div>
	        	</nav>
	    	</div>
 		</header>
		 
<div id="container" style="margin-top: 100px;">
	<div class="card shadow">
  		<h4 class="card-header">
    		Add Group
  		</h4>
  		<div class="card-body">

    		<form method="POST" action="" name="postForm" id="postForm">
      			<div class="form-group">
        			<label for="txtTitle" style="font-weight: bold">Tên bài viết</label>
        			<input type="text" class="form-control" id="txtTitle" name="title" autofocus placeholder="Enter title...">
      			</div>
				<div class="form-group">
					<div class="form-group">
        				<label for="fuMain">Photo</label>
        				<div class="file-loading">
          					<input id="fuMain" name="fuMain" type="file">
        				</div>
      				</div>
				</div>
				<div class="form-group">
					<label for="IDCat" style="font-weight: bold">Danh mục</label>
					<select class="selectpicker" name="IDCat" id="IDCat">
                          {{#each this.groups}}
	                          <optgroup label="{{groupname}}">
	                            {{#each ../this.categories}} 
		                            {{#ifEquals ../ID IDGroup}}
			                            <option value="{{ID}}">{{category}}</option>											  
		                            {{/ifEquals}}
                            	{{/each}}
                              </optgroup>
                            {{/each}}
                          </select>
				</div>
				<div class="form-group">
					<label for="chi_tiet_bd" style="font-weight: bold">Chi tiết bài đăng</label>
					<textarea cols="60" rows="12" name="chi_tiet_bd" id="chi_tiet_bd"></textarea>
				</div>
				<div class="form-group">
					<label for="tags" style="font-weight: bold">Tags</label>
					<input type="text" data-role="tagsinput"  class="form-control" placeholder="Add tags" name="tags" id="tags" value="{{this.tags}}"/>
				</div>
      			<a class="btn btn-outline-primary" href="/admin/manage-post" role="button" style="margin-left: 120px;">
        			<i class="fa fa-backward" aria-hidden="true"></i>
        			List
      			</a>
      			<button type="submit" class="btn btn-outline-success">
        			<i class="fa fa-check" aria-hidden="true"></i>
        				Save
      				</button>
					<input name="authorID" value="{{authUser.ID}}" type="hidden"/>
    		</form>
  		</div>
	</div>
</div>


{{else}}
  {{#section 'js'}}
  <script>
    window.location.href="/404";
  </script>
    
  {{/section}}

{{/ifEquals}}