<div class="container">
<section id="bai-dang" style="margin-top: 100px;">
	{{#each this.posts}}
	<div id="row">
					<img src="{{avatar}}" class="img-title">
					<div id="text">
						<a href="#" id="bai-dang-text">{{title}}</a>
						<div id="date">{{formatDate date}}
							{{#each ../this.categories}} 
								{{#ifEquals ../category ID}}
									<a href="#" id="mytag">{{category}}</a>  
								{{/ifEquals}}				 
							{{/each}}				
						</div>
						<p>{{summary}}</p>
					</div>
				</div>
	{{/each}}


	
</section>
	<div class="text-center">
		<button id="btnLoadMore" class="btn btn-light mb-2">LOAD MORE</button>	
	</div>
<script>
	let soTrang = 1;
	let current = parseInt({{posts.length}});
	let temp = parseInt({{posts.length}});
	let total = parseInt({{total}});

	var getUrlParameter = function checkUrlParameter(sParam) {
    	var sPageURL = window.location.pathname,
        	sURLVariables = sPageURL.split('/'),
        	i;
		console.log(sPageURL);
    	for (i = 0; i < sURLVariables.length; i++) {
        	console.log(sURLVariables[i]);
        	if (sURLVariables[i] === sParam) {

           	 return true;
        	}
    	}
	};

	$(document).ready(function(){
		if(current >= total)
				{
					$('#btnLoadMore').attr("hidden", true);
				}
		$(document).on("click","#btnLoadMore",function(){
				soTrang += 1;
				var urlAjax = "./list-post/page/"+soTrang
				console.log(urlAjax);
				if(getUrlParameter('category')){
					urlAjax = "./" + {{cate}} + "/page/"  +soTrang;
				}
				else if(getUrlParameter('tag')){
					urlAjax="./"+ {{tag}} + "/page/"  +soTrang;
				}
				else if(getUrlParameter('groupcategory')){
					urlAjax="./" + {{groupcate}} + "/page/"  +soTrang;
				}
				$.ajax({
					async: false,
					type: 'GET',
					url: urlAjax,
					success: function(res){
						$('#bai-dang').append(res);
						
					},
					error: function(xhr,ajaxOption,thrownError){
						alert("Fail");
					}
				})
				current += temp;
			if(current >= total)
				{
					$('#btnLoadMore').attr("hidden", true);
				}
			})
				
	})
	
</script>

</div>