<div id="container">
			<div class="bai-viet ml-3">
				<div id="bai-dang-text">{{this.post.title}}</div>
				<div id="date">{{this.post.date}}<a href="#" id="tag">Thế giới</a></div>
				<div class="dropdown-divider" style="border-width: 3px; border-color: gray;"></div>
				{{{this.post.content}}}
				<div style="font-weight: bold">Tags</div>
				{{#each this.tags}}
					<a href="#" id="the-tag">{{tagname}}</a>
				{{/each}}
				<div class="dropdown-divider" style="border-width: 3px; border-color: gray;"></div>
			</div>
		</div>
		<form action="xiaomi-may-giat_submit" method="get" accept-charset="utf-8">
			
		</form>

		<div id="container">
			
			<label class="mark">/</label><a href="#" title="MOBILE" class="chuyen-muc-title">Cùng chuyên mục</a>
			<section id="chuyen-muc">
				{{#slice this.post_5 offset="0" limit="3"}}
				<div class="column">					
					<img src="{{avatar}}" id="img-category">
					<a href="/post/post-detail/{{ID}}" class="txttitle">{{title}}</a>
				</div>
				{{/slice}}

			</section>
			<section id="chuyen-muc">
				{{#slice this.post_5 offset="3" limit="3"}}
				<div class="column">					
					<img src="{{avatar}}" id="img-category">
					<a href="/post/post-detail/{{ID}}" class="txttitle">{{title}}</a>
				</div>
				{{/slice}}
			</section>
		</div>
