{{#section 'css'}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<style>
    .pb-cmnt-container {
        font-family: Lato;
		padding: 20px;
    }

    .pb-cmnt-textarea {
        resize: none;
		padding: 20px;
        height: 130px;
        width: 100%;
        border: 1px solid #F2F2F2;
    }
	</style>
{{/section}}
{{#section 'js'}}
<script>
	const $form = $('#commentForm')

	$form.on('submit', submitHandler)

	function submitHandler (e) {
  		e.preventDefault();
		
		let IDPost = {{this.post.ID}};
		let comment = $('#comment').val();

  		$.ajax({
    		url: 'comment/',
        	data: JSON.stringify({"comment": comment, "IDPost": IDPost }),
        	processData: false,
        	type: 'POST',
        	contentType: 'application/json',
        	success: function (data) {
        		console.log('success');
        	}
  		}).done(response => {
			  
			  var data = JSON.parse(response);

			var content = $('<div class="row"><div class="col-md-2"><img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/></div><div class="col-md-10"><p><a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>'+data.user+'</strong></a></p><div class="clearfix"></div><p>'+data.comment+'</p><p><a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a></p></div>');
			$('#parentAdd').append(content);

			$('#comment').val('');	
  		})
	}


	
</script>

{{/section}}


<div id="container">
			<div class="bai-viet ml-3">
				<div id="bai-dang-text">{{this.post.title}}</div>
				<div id="date">{{this.post.date}}<a href="#" id="tag">Thế giới</a></div>
				<div class="dropdown-divider" style="border-width: 3px; border-color: gray;"></div>
				{{{this.post.content}}}
				<div style="font-weight: bold">Tags</div>
				{{#each this.tags}}
					<a href="#" id="the-tag">{{tagname}}</a>
				{{/each}}
				<div class="dropdown-divider" style="border-width: 3px; border-color: gray;"></div>
			</div>
</div>
<div id="container">
			
			<label class="mark">/</label><a href="#" title="MOBILE" class="chuyen-muc-title">Cùng chuyên mục</a>
			<section id="chuyen-muc">
				{{#slice this.post_5 offset="0" limit="3"}}
				<div class="column">					
					<img src="{{avatar}}" id="img-category">
					<a href="/post/post-detail/{{ID}}" class="txttitle">{{title}}</a>
				</div>
				{{/slice}}

			</section>
			<section id="chuyen-muc">
				{{#slice this.post_5 offset="3" limit="3"}}
				<div class="column">					
					<img src="{{avatar}}" id="img-category">
					<a href="/post/post-detail/{{ID}}" class="txttitle">{{title}}</a>
				</div>
				{{/slice}}
			</section>
</div>

<div id="container">
	<label class="mark">/</label><a href="#" class="chuyen-muc-title">Comment</a>
	
		<div class="card">
	    <div class="card-body">
			

			
			{{#each this.pComment}}
				<div class="row">
        	    	<div class="col-md-2">
        	        	<img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
        	    	</div>
        	    	<div class="col-md-10">
						<p><a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>{{user}}</strong></a></p>
        	       	<div class="clearfix"></div>
        	        	<p>{{comment}}</p>
        	        	<p>
        	        	    <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
        	       		</p>
        	    	</div>
	        	</div>
				{{#each ../this.comment}}
					{{#ifEquals ../IDComment IDParent}}
						<div class="card card-inner">
            	    		<div class="card-body">
            	        		<div class="row">
                    	    		<div class="col-md-2">
                    	        		<img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                    	    		</div>
                    	   			 <div class="col-md-10">
                    	        		<p><a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>{{user}}</strong></a></p>
                    	        		<p>{{comment}}</p>
                    	    		</div>
            	        		</div>
            	    		</div>
	            		</div>
						<div id="childAdd" name="childAdd"></div>
					{{/ifEquals}}
				{{/each}}

			{{/each}}
				<div id="parentAdd" name="parentAdd"></div>
	        	<form id="commentForm" name="commentForm">
					<div class="pb-cmnt-container">
    					<div class="row">
        					<textarea placeholder="Write your comment here!" class="pb-cmnt-textarea" name="comment" id="comment"></textarea>
							<button class="btn btn-primary pull-right" type="submit" id="submit">Share</button>
    					</div>
					</div>
				</form>
	    </div>
	</div>	
