{{#section 'css'}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<style>
    .pb-cmnt-container {
        font-family: Lato;
		padding: 20px;
    }

    .pb-cmnt-textarea {
        resize: none;
		padding: 20px;
        height: 130px;
        width: 100%;
        border: 1px solid #F2F2F2;
    }
	.card-inner{
    	margin-left: 4rem;
	}
	</style>
{{/section}}
{{#section 'js'}}
<script>
	
	const $form = $('#commentForm')

	$form.on('submit', submitHandler)

	function submitHandler (e) {
  		e.preventDefault();

		let IDPost = {{this.post.ID}};
		let comment = $('#comment').val();

  		$.ajax({
    		url: 'comment/',
        	data: JSON.stringify({"comment": comment, "IDPost": IDPost, "user": {{authUser.ID}}, "username": '{{authUser.username}}' }),
        	processData: false,
        	type: 'POST',
        	contentType: 'application/json',
        	success: function (data) {
        		console.log('success');
        	}
  		}).done(response => {
			  
			var data = JSON.parse(response);

			var content = $('<div class="row"><div class="col-md-2"><img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/><p class="text-secondary text-center">'+data.date+'</p></div><div class="col-md-10"><p><a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>'+data.user+'</strong></a></p><div class="clearfix"></div><p>'+data.content+'</p></div>');
			$('#parentAdd').append(content);

			$('#comment').val('');	
  		})
	}


	
</script>

<script>
	$(document).ready(function() {
    $("#btnLogin").click(function(){
        alert("You must login to comment.");
		$('#comment').val('');	
    }); 
});
</script>
{{/section}}


<div id="container">
			<div class="bai-viet ml-3">
				<div id="bai-dang-text">{{this.post.title}}</div>
				<div id="date">{{this.post.date}}<a href="#" id="tag">Thế giới</a></div>
				<div class="dropdown-divider" style="border-width: 3px; border-color: gray;"></div>
				{{{this.post.content}}}
				<div style="font-weight: bold">Tags</div>
				{{#each this.tags}}
					<a href="#" id="the-tag">{{tagname}}</a>
				{{/each}}
				<div class="dropdown-divider" style="border-width: 3px; border-color: gray;"></div>
			</div>
</div>
<div id="container">
			
			<label class="mark">/</label><a href="#" title="MOBILE" class="chuyen-muc-title">Cùng chuyên mục</a>
			<section id="chuyen-muc">
				{{#slice this.post_5 offset="0" limit="3"}}
				<div class="column">					
					<img src="{{avatar}}" id="img-category">
					<a href="/post/post-detail/{{ID}}" class="txttitle">{{title}}</a>
				</div>
				{{/slice}}

			</section>
			<section id="chuyen-muc">
				{{#slice this.post_5 offset="3" limit="3"}}
				<div class="column">					
					<img src="{{avatar}}" id="img-category">
					<a href="/post/post-detail/{{ID}}" class="txttitle">{{title}}</a>
				</div>
				{{/slice}}
			</section>
</div>

<div id="container">
	<label class="mark">/</label><a href="#" class="chuyen-muc-title">Comment</a>
	
		<div class="card">
	    <div class="card-body">
			

			
			{{#each this.pComment}}
				<div class="row">
        	    	<div class="col-md-2">
        	        	<img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
						<p class="text-secondary text-center">{{date}}</p>
        	    	</div>
        	    	<div class="col-md-10">
						<p><a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>{{username}}</strong></a></p>
        	       	<div class="clearfix"></div>
        	        	<p>{{content}}</p>
        	    	</div>
	        	</div>
				

			{{/each}}
				<div id="parentAdd" name="parentAdd"></div>
	        	<form id="commentForm" name="commentForm">
					<div class="pb-cmnt-container">
    					<div class="row">
        					<textarea placeholder="Write your comment here!" class="pb-cmnt-textarea" name="comment" id="comment"></textarea>
							{{#if isAuthenticated}}
							<button class="btn btn-primary pull-right" type="submit" id="submit">Share</button>
							{{else}}
							<button class="btn btn-primary pull-right" type="button" id="btnLogin">Share</button>
							{{/if}}
    					</div>
					</div>
				</form>
	    </div>
	</div>	
