
<div id="container">
			<div id="bai-moi">
				<div class="mycol-3">
					<ul>
						{{#slice this.views offset="0" limit="6"}}
							
								<li id="row"><img src="{{avatar}}" class="img-noi-bat">
								<a href="post/post-detail/{{ID}}" id="left-title">
								{{title}}
								</a></li>
								<div class="dropdown-divider" style="border-width: 3px; border-color: gray;"></div>
						{{/slice}}
					</ul>
				</div>
				<div class="mycol-6">
					{{#slice this.views offset="6" limit="1"}}
						<img src="{{avatar}}" class="img-noi-bat-mid">
						<div id="text">
							<a href="post/post-detail/{{ID}}" id="row-mid-title">{{title}}</a>
							<div style="display: inline-block;">
								<div id="date">{{date}}<a href="#" id="mytag">{{groupname}}</a></div>
							</div>
							{{summary}}
						</div>
					{{/slice}}
					
				</div>
				<div class="mycol-4 right">
					<ul>
						{{#slice this.views offset="7" limit="3"}}
							<li id="right-column"><img src="{{avatar}}" class="img-noi-bat-right">
								<a href="post/post-detail/{{ID}}" id="right-title">
									{{title}}							
								</a></li>
						{{/slice}}
					</ul>
				</div>
			</div>

			<section id="bai-dang">
				<label class="mark">/</label><h4>TIN MỚI</h4>
				{{#each this.dates}}
					<div id="row">
					<img src="{{avatar}}" class="img-title">
						<div id="text">
							<a href="post/post-detail/{{ID}}" id="bai-dang-text">{{title}}</a>
							<div id="date">{{date}}<a href="#" id="mytag">Thời sự</a></div>
								{{summary}}
						</div>
					</div>
				{{/each}}
				
				
				<br>
				<div class="center">
					<div class="pagination">
  						<a href="#">&laquo;</a>
  						<a href="#" class="active">1</a>
  						<a href="#">2</a>
  						<a href="#">3</a>
  						<a href="#">4</a>
  						<a href="#">5</a>
  						<a href="#">6</a>
  						<a href="#">&raquo;</a>
					</div>
				</div>
			</section>

			<section id="noi-bat">
				<label class="mark">/</label><h4>ĐÁNG CHÚ Ý</h4>
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  					<ol class="carousel-indicators">
    					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
   			 			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  					</ol>
  					<div class="carousel-inner">
						{{#slice this.viewWeeks offset="0" limit="1"}}
							<div class="carousel-item active">
      						<img src="{{avatar}}" class="d-block">
    							<h5><a href="post/post-detail/{{ID}}">{{title}}</a></h5>
    							{{summary}}
    						</div>
						{{/slice}}
						{{#slice this.viewWeeks offset="1" limit="2"}}
							<div class="carousel-item">
      						<img src="{{avatar}}" class="d-block">
    							<h5><a href="post/post-detail/{{ID}}">{{title}}</a></h5>
    							{{summary}}
    						</div>
						{{/slice}}
  					</div>
  					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    					<span class="sr-only">Previous</span>
  					</a>
  					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    					<span class="carousel-control-next-icon" aria-hidden="true"></span>
    					<span class="sr-only">Next</span>
 					 </a>
				</div>
			</section>
			<section id="chuyen-muc">
				{{#slice this.postCates offset="0" limit="4"}}
					<div class="column">
						<div>
							<label class="mark">/</label><a href="post/list-post/category/{{IDCate}}" class="chuyen-muc-title">{{groupname}}</a>
						</div>
					
						<img src="{{avatar}}" id="img-category">
						<a href="post/post-detail/{{ID}}" title="MOBILE1" class="txttitle">{{title}}</a>
					</div>
				{{/slice}}
			</section>
			<section id="chuyen-muc">
				{{#slice this.postCates offset="4" limit="4"}}
					<div class="column">
					<div>
						<label class="mark">/</label><a href="#" title="KHAMPHA" class="chuyen-muc-title">{{groupname}}</a>
					</div>
					
					<img src="{{avatar}}" id="img-category">
					<a href="post/post-detail/{{ID}}" title="MOBILE1" class="txttitle">{{title}}</a>
				</div>
				{{/slice}}
				
			</section>
			<section id="chuyen-muc">
				{{#slice this.postCates offset="8" limit="2"}}
					<div class="column">
					<div>
						<label class="mark">/</label><a href="#" title="KHAMPHA" class="chuyen-muc-title">{{groupname}}</a>
					</div>
					
					<img src="{{avatar}}" id="img-category">
					<a href="post/post-detail/{{ID}}" title="MOBILE1" class="txttitle">{{title}}</a>
				</div>
				{{/slice}}
				
			</section>
			
		</div>
		<div id="backtotop">
			<img id="backtotopimg" src="/image/backtotop.png" onclick="backtotopFunc()">
		</div>
	</div>

	<script type="text/javascript">
		function backtotopFunc() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}
	</script>
