{{#ifEquals authUser.type 4}}
{{#section 'css'}}
	<title>Phê duyệt</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/add-post.css">
    <link rel="stylesheet" type="text/css" href="/css/post.css">
{{/section}}

			<div style="margin-top: 100px;">
		        
                    <label style="font-weight: bold" class="ml-3">Duyệt:</label>
                    <select id="txtApproval" onchange="selectedChange(this)">
          	            <option value="1" selected>Đồng ý</option>
                        <option value="2">Từ chối</option>
                    </select>
        

<form method="POST" action="/editor/editor/agree" id="frmAgree">
<input type="text" hidden value="{{authUser.category}}" name="cateid">
      <div class="form-group">
          <input type="text" id="txtID" name="txtID" value="{{this.post.ID}}" hidden>
        <label for="txtTitle" style="font-weight: bold" class="ml-3">Title</label>
        <input type="text" class="form-control" id="txtTitle" name="title" readonly value="{{this.post.title}}">
		<br>
			<label id="lblCat" type="hide" style="font-weight: bold"  class="ml-3">Danh mục</label>
            <select class="selectpicker" id="IDCat" name="IDCat" type="hide">
                          {{#each this.groups}}
	                          <optgroup label="{{groupname}}">
	                            {{#each ../this.categories}} 
		                            {{#ifEquals ../ID IDGroup}}
                                  {{#ifEquals ../../this.post.category ID}}
			                            <option value="{{ID}}" selected>{{category}}</option>	
                                  {{else}}
                                  <option value="{{ID}}">{{category}}</option>	
                                  {{/ifEquals}}							  
		                            {{/ifEquals}}
                            	{{/each}}
                              </optgroup>
                            {{/each}}
            </select>
            <br>
            <label for="txtDate" style="font-weight: bold"  class="ml-3">Thời điểm xuất bản</label>
            <input type="date" class="form-control col-lg-5 ml-3" id="txtDate" name="date" autofocus>
            <br>
            <label for="txtTags" style="font-weight: bold"  class="ml-3">Nhãn tag</label>
            {{#each this.tags}}
                <label id="the-tag">{{tagname}}<a href="/editor/delete-tag/{{ID}}&{{../this.post.ID}}" id="the-tag" role="button">x</a></label>
            {{/each}}
      </div>
      <a class="btn btn-outline-primary ml-5" href="/editor/editor/{{authUser.category}}" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        List
      </a>
      <button type="submit" class="btn btn-outline-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Send
      </button>
</form>

<form method="POST" action="/editor/editor/disagree" id="frmDisagree">
<input type="text" hidden value="{{authUser.category}}" name="cateid">
      <div class="form-group">
        <input type="text" id="txtID" name="txtID" value="{{this.post.ID}}" hidden>
        <label for="txtTitle" style="font-weight: bold"  class="ml-3">Title</label>
        <input type="text" class="form-control" id="txtTitle" name="title" readonly value="{{this.post.title}}">
		<br>
            <label style="font-weight: bold"  class="ml-3">Lý do</label>
            <textarea id="txtReason" name="txtReason" placeholder="Nhập lý do từ chối..."></textarea>
      </div>
      <a class="btn btn-outline-primary ml-5" href="/editor/editor/{{authUser.category}}" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        List
      </a>
      <button type="submit" class="btn btn-outline-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Send
      </button>
</form>
    </div>
    {{#section 'js'}}
<script>
    $('#frmDisagree').hide();
	function selectedChange(obj) {
        var value = obj.value;
        if (value == 1)
        {
            $('#frmAgree').show();
    $('#frmDisagree').hide();
        }
        else if (value == 2) {
            $('#frmAgree').hide();
    $('#frmDisagree').show();
        }
        else {
            $('#frmAgree').hide();
    $('#frmDisagree').hide();
        }
    }
</script>
{{/section}}

{{else}}
  {{#section 'js'}}
  <script>
    window.location.href="/404";

  </script>
    
  {{/section}}

{{/ifEquals}}