
 		<div id="container">
 			<div id="e-qlbv"><h2>Quản lý bài viết</h2></div>
      <br>
		  {{#each this.posts}}
		  <form action="" name="editorForm" method="GET">
 				<table id="e-table">
 					<tr>
              <td width="5%">
                <img id="e-picture" src={{avatar}}>
              </td>
              <td width="60%">
                <div id="e-text">
                  <div>
                    <a id="e-title" href="/post/post-detail/{{ID}}">{{title}}</a>
                  </div>
                  <div id="e-info">
                    by {{authorname}}
                  </div>
                </div>
                <div class="text-center">
					<a id="e-button" href="/editor/editor/approval/{{ID}}" role="button">&nbspApprove&nbsp</a>
                </div>
              </td>
          </tr>
        </table>
		</form>
		{{/each}}
	</div>
