{{#ifEquals authUser.type 1}}
{{#section 'css'}}
	<title>Thêm tài khoản</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/add-post.css">
{{/section}}
		<header id="header">
 			<div id="container">
	
				<nav class="navbar navbar-expand-lg">
		  
		  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		    			<span class="navbar-toggler-icon"></span>
		  			</button>
					<div id="papername">dogenews</div>
		  			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		  				&nbsp &nbsp &nbsp &nbsp
		    			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		      				<li class="nav-item active"><a class="nav-link" href="#"><h2></h2> <span class="sr-only">(current)</span></a></li>

		    			</ul>
					    
		            	<div>
		            		<a href="#" data-toggle="dropdown"><i class="fa fa-user-circle" style="font-size:36px"></i></a>
		            		<ul class="dropdown-menu dropdown-menu-right" role="menu">
		            			<div class="col-lg-12"> 
		                			{{#ifEquals authUser.type 1}}
							<a class="dropdown-item" href="/admin/manage-user">Quản lý thông tin</a>
							{{/ifEquals}}
							{{#ifEquals authUser.type 2}}
							<a class="dropdown-item" href="/auth/edit-information/{{authUser.ID}}">Cập nhật thông tin cá nhân</a>
							{{/ifEquals}}
							{{#ifEquals authUser.type 3}}
							<a class="dropdown-item" href="/auth/edit-information/{{authUser.ID}}">Cập nhật thông tin cá nhân</a>
							<a class="dropdown-item" href="/writer/add-post">Đăng bài mới</a>
							<a class="dropdown-item" href="/writer/writer-posts/{{authUser.ID}}">Xem bài viết của tôi</a>
							{{/ifEquals}}
							{{#ifEquals authUser.type 4}}
							<a class="dropdown-item" href="/auth/edit-information/{{authUser.ID}}">Cập nhật thông tin cá nhân</a>
							<a class="dropdown-item" href="/editor/editor/{{authUser.category}}">Duyệt bài viết</a>
							{{/ifEquals}}
							<a class="dropdown-item" href="javascript: $('#frmLogOut').submit();">Log out</a>
		            			</div>
		            		</ul>		
	            		</div>
	            		
	            	</div>
	        	</nav>
	    	</div>
 		</header>


<div id="container" style="margin-top: 100px;">
	<div class="card shadow">
  		<h4 class="card-header">
    		Add Group
  		</h4>
  		<div class="card-body">

    		<form method="POST" action="/admin/add-premium" id="frmManageEditor">
      			<div class="form-group col-lg-5">
					<input type="text" name="iduser" hidden value="{{this.user.ID}}">
        			<label for="txtUsername" style="font-weight: bold">Username</label>
        			<input type="text" class="form-control disabled" id="txtUsername" name="username" readonly value="{{this.user.username}}">
					<br>
					<label style="font-weight: bold">Premium Date</label>
            		<input type="date" id="txtPremiumDate" name="premiumdate" value="{{this.user.premiumdate}}">
      			</div>
      			<a class="btn btn-outline-primary ml-5" href="/admin/manage-user" role="button">
        			<i class="fa fa-backward" aria-hidden="true"></i>
        				List
      			</a>
      			<button type="submit" class="btn btn-outline-success">
        			<i class="fa fa-check" aria-hidden="true"></i>
        				Update
      			</button>
    		</form>
  		</div>
	</div>
</div>



{{else}}
  {{#section 'js'}}
  <script>
    window.location.href="/404";

  </script>
    
  {{/section}}

{{/ifEquals}}