{{#ifEquals authUser.type 1}}
{{#section 'css'}}
	<title>Quản lý người dùng</title>
	<link rel="stylesheet" type="text/css" href="/css/admin_quanly.css">
{{/section}}
		<header id="header">
 			<div id="container">
	
				<nav class="navbar navbar-expand-lg">
		  
		  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		    			<span class="navbar-toggler-icon"></span>
		  			</button>
					<div id="papername">dogenews</div>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              &nbsp &nbsp &nbsp &nbsp
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active"><a class="nav-link" href="/admin/manage-post">Bài đăng</a></li>
                  <li class="nav-item"><a class="nav-link" href="/admin/manage-user">Tài khoản  <span class="sr-only">(current)</a></li>
                  <li class="nav-item"><a class="nav-link" href="/admin/manage-category">Category</a></li>
				  <li class="nav-item"><a class="nav-link" href="/admin/manage-groupcategory">Group Category</a></li>
                  <li class="nav-item"><a class="nav-link" href="/admin/manage-tag">Tag</a></li>     
                </ul>
              </div>
		            	<div>
		            		<a href="#" data-toggle="dropdown"><i class="fa fa-user-circle" style="font-size:36px"></i></a>
		            		<ul class="dropdown-menu dropdown-menu-right" role="menu">
		            			<div class="col-lg-12"> 
		                			<form action="/auth/logout" id="frmLogOut" method="POST"></form>
		    							{{#ifEquals authUser.type 1}}
							<a class="dropdown-item" href="/admin/manage-user">Admin</a>
							{{/ifEquals}}
							{{#ifEquals authUser.type 2}}
							<a class="dropdown-item" href="/auth/edit-information">User</a>
							{{/ifEquals}}
							{{#ifEquals authUser.type 3}}
							<a class="dropdown-item" href="/admin/manage-user">Writer</a>
							{{/ifEquals}}
							{{#ifEquals authUser.type 4}}
							<a class="dropdown-item" href="/editor/editor">Editor</a>
							{{/ifEquals}}
							<a class="dropdown-item" href="javascript: $('#frmLogOut').submit();">Log out</a>
                      
										
		  							
		            			</div>
		            		</ul>		
	            		</div>
	        	</nav>
	    	</div>
 		</header>
		
		<div id="container" class="card shadow">
			<h4 class="card-header">
				Quản lý người dùng
      		</h4>
			<table class="table table-hover">
    			<thead>
      				<tr>
        				<th scope="col" class="text-center">Username</th>
						<th scope="col">Họ tên</th>
						<th scope="col">Biệt danh</th>
						<th scope="col">Email</th>
						<th scope="col">Ngày sinh</th>
						<th scope="col">Chức vụ</th>
						<th scope="col">Hạn Premium</th>
						<th scope="col">Chuyên mục</th>
        				<th scope="col" class="text-right">
          					<a class="btn btn-outline-success" href="/admin/add-user" role="button">
            					<i class="fa fa-plus" aria-hidden="true"></i>
            					Add User
          					</a>
        				</th>
      				</tr>
    			</thead>
    			<tbody>
      			{{#each this.accounts}}
      				<tr>
        				<th scope="row" class="text-center">{{username}}</th>
							<td>{{fullname}}</td>
							<td>{{nickname}}</td>
							<td>{{email}}</td>
							<td>{{formatDate birthday}}</td>
							<td>{{atype}}</td>
							<td>{{formatDate premiumdate}}</td>
							<td>
								{{#each ../this.categories}}
									{{#ifEquals ../category ID}}
										{{category}}
									{{/ifEquals}}
								{{/each}}
							</td>
        					<td class="text-right" scope="row">
								{{#ifEquals atype "editor"}}
								<a class="btn btn-outline-primary" href="/admin/manage-editor/{{username}}" role="button">
            						<i class="fa fa-pencil" aria-hidden="true"></i>
          						</a>
								{{/ifEquals}}
								{{#ifEquals atype "user"}}
								<a class="btn btn-outline-primary" href="/admin/add-premium/{{username}}" role="button">
            						<i class="fa fa-calendar" aria-hidden="true"></i>
          						</a>
								{{/ifEquals}}
          						<a class="btn btn-outline-danger" href="/admin/delete-user/{{IDAccount}}" role="button">
        							<i class="fa fa-trash-o" aria-hidden="true"></i>
      							</a>
        					</td>
      				</tr>
      			{{/each}}
    			</tbody>
  			</table>

        	
		</div>

	</div>
{{else}}
  {{#section 'js'}}
  <script>
    window.location.href="/404";

  </script>
    
  {{/section}}

{{/ifEquals}}