{{#section 'css'}}
	<link rel="stylesheet" type="text/css" href="/css/admin_quanly.css">
{{/section}}



 		<div id="container">
 			<div class="text-center" style="margin-top: 100px;"><h2>Thông tin cá nhân</h2></div>
        <form novalidate action="/auth/edit-information" method="POST" id="registerForm">
  <div class="card shadow">
    <h5 class="card-header">
      Cập nhật thông tin
    </h5>
    <div class="card-body">
      <div class="form-group">
        <label for="txtID">ID</label>
        <input type="text" class="form-control" id="txtID" name="ID" readonly value="{{this.user.ID}}">
      </div>
      <div class="form-group">
        <label for="txtName">Username</label>
        <input type="text" class="form-control" id="txtName" name="username" readonly value="{{this.user.username}}">
      </div>
      <div class="form-group">
        <label for="txtName">Họ tên</label>
        <input type="text" class="form-control" id="txtName" name="name" value="{{this.user.fullname}}" >
      </div>
      <div class="form-group">
        <label for="txtNickName">Biệt danh</label>
        <input type="text" class="form-control" id="txtNickName" name="nickname" value="{{this.user.nickname}}">
      </div>
      <div class="form-group">
        <label for="txtEmail">Email</label>
        <input type="text" class="form-control" id="txtEmail" name="email" value="{{this.user.email}}">
      </div>
      <div class="form-group">
        <label for="txtDOB">Ngày sinh</label>
        <input type="date" class="form-control" id="txtDOB" name="dob" value="{{this.user.birthday}}">
      </div>
    </div>
    <div class="card-footer text-right">
      <button type="submit" class="btn btn-lg btn-success btn-block">
        <i class="fa fa-check" aria-hidden="true"></i>
        Cập nhật
      </button>
    </div>
  </div>
</form>
 		 </div>
	</div>
</body>
</html>